<h1>Comment Show for: <%= @comment.painting.title %></h1>

<p>Comment message: <i><%= @comment.message %></i><p>

<%= link_to 'Edit comment', edit_painting_comment_path(@comment) if @comment.user == current_user %>
<br><br>
<%= link_to 'Back to painting', painting_path(@comment.painting) %>