<h1>Painting - Show</h1>

<h2>Title: <%= @painting.title %></h2>
<h3>Artist: <%= @painting.artist_name %></h3>
<h3>Country: <%= @painting.country %></h3>

<% if @painting.users.include?(current_user) %>
  <p>Below are your galleries that include this painting.</p>
  <ul>
    <% current_user.galleries.each do |gallery| %>
      <% if gallery.paintings.include?(@painting) %>
        <li><%= link_to gallery.name, gallery_path(gallery) %></li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>None of your galleries include this picture.</p>
<% end %>
