<h1>Show page for <i><%= @user.name %></i></h1>

<ul>
  <li>Email: <i><%= @user.email %></i></li>
  <li># of Galleries: <i><%= @user.galleries.size %></i></li>
</ul>

<%= button_to "Delete account", user_path(@user), method: :delete if @user == current_user %>
